form{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 500px;
}

.btn-login {
    background-color: #336be5!important;
    color: #fff;
}

.btn-register{
    background-color: #15a134!important;
    color: #fff;
}

#select{
    width: 130px;
    margin-right: 300px;
}