<!-- 
<br/><br/>
<div id="login" class="wrapper animated bounce">
  <br/><br/>
  <h1>Carpooling</h1>
  <hr>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    
<div id="b" class="input-group mb-3 ">
  <select class="form-select" formControlName="type" style="background :bisque">
    <option value="driver">
      Driver
    </option>
    <option value="passenger">Passenger</option>
      
  
  </select>
</div>  <br/>
    <label id="icon" for="username"><i class="fa fa-user"></i></label>
    <input type="email" placeholder="Email" id="username" formControlName="email"> <br/> <br/>
    <label id="icon" for="password"><i class="fa fa-key"></i></label>
    <input type="password" placeholder="Password" id="password" formControlName="password"> <br/> <br/> <br/>
    <input type="submit" value="Sign In">
    <hr>
    <div   class="crtacc"><a routerLink="/register">Create Account</a></div>
  </form>
</div> -->

<!-- Default form login -->
<form  class="text-center border border-light p-5" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

  <h1 class="indigo-text mb-4 display-4 font-weight-bolder">Login</h1>

  <!--type to choose between passenger and driver-->
  <div class="input-group mb-3">
            
      <label class="input-group-text">User Type</label>
      <select class="form-select" formControlName="type" style="background :rgb(233, 245, 252)">
        <option value="driver">
          Driver
        </option>
        <option value="passenger">
          Passenger
        </option>
      </select>
</div>  

  <!-- Email -->
  <input type="email" class="form-control mb-4" formControlName="email" placeholder="E-mail">

  <!-- Password -->
  <input type="password" class="form-control mb-4" placeholder="Password" formControlName="password">

  <!-- login button -->
  <button mdbBtn color="login" block="true" class="my-4" type="submit">Login</button>

  <!-- Register -->
  <p class="text-muted">Not a member?</p>

 <!-- Register button -->
 <button mdbBtn color="register" block="true" class="my-2" type="submit" routerLink="/register" >Create an account</button>
</form>
<!-- Default form login -->

<router-outlet></router-outlet>
