<div class="login">
    <div >
      <br/><br/>
      <img src="../../../assets/carpooling.png" alt="" class="box-img">
      <!-- <h1 style="font-family: 'galada';">Carpooling</h1><br/><br/> --><br/><br/>
      <p>
        helloooooooooo how arrrrrre you this is just an e.g of text to
        teeeesssst the component
      </p>
     
 
    <div class="social-menu">
      <ul>
        <li><a  target="_blank" href=""><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="" ><i class="fab fa-twitter"></i></a></li>
        <li><a href=""><i class="fab fa-instagram"></i></a></li>
        <li><a href=""><i class="fab fa-youtube"></i></a></li>
        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
    </div>
    <!-- <app-login></app-login> -->
  </div>
  
