.about {
    width: 50%;
    background: rgba(0, 0, 0, 10);
    color: #ffffff;
    text-align: center;
    padding: 50px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btn {
    padding: 10px 20px;
    font-family: Century Gothic;
    font-size: large;
    font-weight: 500;
    border: none;
    outline: none;
    background: #ffffff;
    border-radius: 8px;
  }
  
  .btn :hover {
    background: black;
    color: #ffffff;
  }
  