<div class="container mt-5">
  <div class="row">
    <div class="col-md">
      <app-login></app-login>
    </div>
    <div class="col-md login">
      <br/><br/>
      <!-- <img src="../../../assets/carpooling.png" alt="" class="box-img"> -->
      <p class="lead font-weight-bold text-center" style="color: darkblue; font-weight: bolder; font-size: 80px; font-family:Georgia, 'Times New Roman', Times, serif;" >
        Carpooling</p>
<div class="p-10 md:p-14 text-justify" ><br>
             
        
          <h3 style="color: darkblue;">It connects people looking to travel long distances with drivers heading the same way, 
          so they can travel together and share the cost. With the recent integration of a coach network and a commuter carpooling service, 
          Carpooling aims to become the go to marketplace for shared road mobility.
          Affordable, convenient and user friendly wherever there’s a road. </h3><br/><br/>
         
     
 
  
    </div>
  </div>
</div>
