<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-md-6">

          <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
          (click)="frame.show()" mdbWavesEffect>Add a ride
  </button>
  
  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content mb-5">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Enter your ride information</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form">
            <mdb-icon fas icon="car-side" class="prefix grey-text"></mdb-icon>
            <input type="text" id="form1" class="form-control" mdbInput mdbValidate [formControl]="rideFormModalDeparture">
            <label for="form1">Departure</label>
            <mdb-error
              *ngIf="rideFormModalDeparture.invalid && (rideFormModalDeparture.dirty || rideFormModalDeparture.touched)">Input
              invalid
            </mdb-error>
            <mdb-success
              *ngIf="rideFormModalDeparture.valid && (rideFormModalDeparture.dirty || rideFormModalDeparture.touched)">Input
              valid
            </mdb-success>
          </div>
  
          <div class="md-form">
            <mdb-icon fas icon="car-alt" class="prefix grey-text"></mdb-icon>
            <input type="text" id="form2" class="form-control" mdbInput mdbValidate
                   [formControl]="rideFormModalDestination">
            <label for="form2">Your Destination</label>
            <mdb-error
              *ngIf="rideFormModalDestination.invalid && (rideFormModalDestination.dirty || rideFormModalDestination.touched)">
              Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="rideFormModalDestination.valid && (rideFormModalDestination.dirty || rideFormModalDestination.touched)">Input
              valid
            </mdb-success>
          </div>
  
          <div class="md-form">
            <mdb-icon fas icon="calendar-check" class="prefix grey-text"></mdb-icon>
            <input type="date" id="form3" class="form-control" mdbInput mdbValidate
                   [formControl]="rideFormModalDate">
            <label for="form3">Date</label>
            <mdb-error
              *ngIf="rideFormModalDate.invalid && (rideFormModalDate.dirty || rideFormModalDate.touched)">
              Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="rideFormModalDate.valid && (rideFormModalDate.dirty || rideFormModalDate.touched)">
              Input valid
            </mdb-success>
          </div>
  
          <div class="md-form">
            <mdb-icon fas icon="clock" class="prefix grey-text"></mdb-icon>
            <input type="time" id="form4" class="form-control" mdbInput mdbValidate
                      [formControl]="rideFormModalTime">
            <label for="form4">Time</label>
            <mdb-error
              *ngIf="rideFormModalTime.invalid && (rideFormModalTime.dirty || rideFormModalTime.touched)">
              Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="rideFormModalTime.valid && (rideFormModalTime.dirty || rideFormModalTime.touched)">
              Input valid
            </mdb-success>
          </div>
          <div class="md-form">
            <mdb-icon fas icon="users" class="prefix grey-text"></mdb-icon>
            <input type="number" id="form5" class="form-control" mdbInput mdbValidate
                      [formControl]="rideFormModalSeats">
            <label for="form5">Seats</label>
            <mdb-error
              *ngIf="rideFormModalSeats.invalid && (rideFormModalSeats.dirty || rideFormModalSeats.touched)">
              Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="rideFormModalSeats.valid && (rideFormModalSeats.dirty || rideFormModalSeats.touched)">
              Input valid
            </mdb-success>
          </div>
          <div class="md-form">
            <mdb-icon fas icon="hand-holding-usd" class="prefix grey-text"></mdb-icon>
            <input type="number" id="form6" class="form-control" mdbInput mdbValidate
                      [formControl]="rideFormModalPrice">
            <label for="form6">Price</label>
            <mdb-error
              *ngIf="rideFormModalPrice.invalid && (rideFormModalPrice.dirty || rideFormModalPrice.touched)">
              Input invalid
            </mdb-error>
            <mdb-success
              *ngIf="rideFormModalPrice.valid && (rideFormModalPrice.dirty || rideFormModalPrice.touched)">
              Input valid
            </mdb-success>
          </div>
  
        </div>
        <div class="d-flex justify-content-center">
          <button mdbBtn color="unique" class="waves-light" mdbWavesEffect>Send
            <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
          
<!-- <form class="text-center border border-light p-5" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <p class="h4 mb-4">add a new ride :</p>
    <input type="text" name="departure" id="defaultContactFormName" mdbInput class="form-control mb-4" placeholder="Departure" ngModel>
    <input type="text" name="destination" mdbInput class="form-control mb-4" placeholder="Price" ngModel>
    <input type="date" name="date"  mdbInput class="form-control mb-4"  ngModel>
    <input type="number" name="seats"  mdbInput class="form-control mb-4" placeholder="seats" ngModel>
    <input type="number" name="price"  mdbInput class="form-control mb-4" placeholder="price" ngModel>
    <input type="time" name="time" mdbInput class="form-control mb-4" placeholder="Number of seats" ngModel>
    <label>first stopp1 <span>optionale</span></label>
    <input type="text" name="stop1" mdbInput class="form-control mb-4" placeholder="stop1" ngModel>
    <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
      mdbWavesEffect type="submit" >Send</button>
  </form> -->
</div>
</div>
</div>

<!-- <div class="cont">
  <div class="row justify-content-lg-center">
      <div class="col-md-6">
        Your previous rides
        <div *ngFor="let ride of rideData">
          <h1>Departure : {{ride.departure}}</h1>
          <h1>Desitination :{{ride.destination}}</h1>
          <h1>Date :{{ride.date}}</h1>
          <div>
</div>
</div>
</div> -->