
    .p-5 {
      background-color: mediumpurple;
      padding: 3rem !important;
  }


  .container {
      margin-top: 20px;
      right: -25em;
      margin-left: -14em;
  }
.cont{
  margin-left : 59em;
  margin-bottom: 360px;
}