<div>
    <p>Search</p>
    <input ngModel #feed>
    <p>{{ feed.value }}</p>
  </div>

<!-- <div *ngFor= "let info of allInfos">
<img src={{info.image}} alt=""/>
    <h3> {{info.deparature}} </h3>
    <h3> {{info.destination}} </h3> 
    <h3> {{info.date}} </h3>
    <h3> {{info.time}} </h3>
    <h3> {{info.seats}} </h3>
    <h3> {{info.price}} </h3>

</div> -->

<!-- Confirm button -->
<button type="button" mdbBtn color="primary" class="waves-light" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Launch Modal</button>

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="times" size="4x" class="animated rotateIn"></mdb-icon>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a href="https://mdbootstrap.com/pricing/angular/pro/" mdbBtn color="danger" outline="true" class="waves-effect"
          mdbWavesEffect>Yes</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
