<!-- <div class="page-container">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <h1>Sign Up</h1>
        <input type="text" name="Model" class="Name" placeholder="Name" ngModel>
        <input type="text" name="fuelType" class="Address" placeholder="fuel type" ngModel>
        <input type="text" name="color" class="Email" placeholder="color" ngModel>
        <input type="text" name="VKT" class="Adress" placeholder="kilometers traveled" ngModel>
        <input type="number" name="VIN" class="City" placeholder="VIN" ngModel>
        <input type="number" name="seats" class="Tele" placeholder="Number of seats" ngModel>
        <button type="submit" value="Add" name="submit">Submit</button>
    </form>
</div> -->

<!-- <div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-md-6">
<form class="text-center border border-light p-5" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <p class="h4 mb-4">You need to provide us with your  car information :</p>
    <input type="text" name="Model" id="defaultContactFormName" mdbInput class="form-control mb-4" placeholder="Model" ngModel>
    <input type="text" name="fuelType" mdbInput class="form-control mb-4" placeholder="fuelType" ngModel>
    <input type="text" name="color"  mdbInput class="form-control mb-4" placeholder="color" ngModel>
    <input type="number" name="VKT"  mdbInput class="form-control mb-4" placeholder="kilometers traveled" ngModel>
    <input type="text" name="VIN"  mdbInput class="form-control mb-4" placeholder="Vehicule indentification number" ngModel>
    <input type="number" name="seats" mdbInput class="form-control mb-4" placeholder="Number of seats" ngModel>
    <button mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
      mdbWavesEffect type="submit" >Send</button>
  </form>
</div>
</div>
</div> -->