<app-navbar></app-navbar>
<div class="container">
<div class="row justify-content-md-center mt-5">
<div class="col-6">
    <!-- <img src={user.imgUrl}/> -->
    <mdb-card class="blue-gradient">
        <mdb-card-body>
<mdb-card cascade="true" wider="true">

  <div class="view view-cascade gradient-card-header blue-gradient">
    <div class="white-text ml-4">
    <h2 class="card-header-title text-uppercase mt-4 mb-4">{{passenger.firstName}} {{passenger.lastName}}</h2>
    <p class="lead font-weight-bold">
      Welcome to your account</p>
  </div>
  </div>

  <mdb-card-body cascade="true">

    <mdb-card-text class="indigo-text">
      <p class="lead font-weight-bold">Email address: {{passenger.email}}</p>
    <p class="lead font-weight-bold">Phone number: {{passenger.phoneNumber}}</p>
    <p class="lead font-weight-bold">Address: {{passenger.address}}</p>
    </mdb-card-text>

    <a routerLink='/home' class="indigo-text mt-1 d-flex flex-row-reverse">
      <h5 class="waves-effect p-2" mdbWavesEffect>Check our rides
        <mdb-icon fas icon="chevron-right"></mdb-icon>
      </h5>
    </a>

  </mdb-card-body>
</mdb-card>
</mdb-card-body>
</mdb-card>
</div>
<div class="col-6">
  <h4 *ngIf="!rides">You don't have current rides</h4>
  <div *ngFor="let ride of rides">
    <mdb-card class="blue-gradient mt-5">
    <mdb-card-body>
      <mdb-card cascade="true" wider="true">
      
        <div class="view view-cascade gradient-card-header blue-gradient">
          <div class="white-text ml-4">
          <h2 class="card-header-title text-uppercase mt-4 mb-4">From {{ride.departure}} To {{ride.destination}}</h2>
          
        </div>
        </div>
      
        <mdb-card-body cascade="true">
      
          <mdb-card-text class="indigo-text">
            <p class="lead font-weight-bold">Price: {{ride.price}}</p>
          <p class="lead font-weight-bold">Date: {{ride.date}}</p>
          <p class="lead font-weight-bold">Time: {{ride.time}}</p>
          </mdb-card-text>
      
        </mdb-card-body>
      </mdb-card>
      </mdb-card-body>
      </mdb-card>
  </div>
</div>
</div>
</div><br/><br/>
<!--adding the uploading image dropZone-->
<div class="terminal">
<ngx-dropzone (change)="onSelect($event)" style="width: 240px; height: 180px; margin-left: 200px;">
  <ngx-dropzone-label>Upload Your image here !</ngx-dropzone-label>
  <ngx-dropzone-image-preview
   ngProjectAs="ngx-dropzone-preview" 
   *ngFor="let f of files" 
   [file]="f" 
   [removable]="true" 
   (removed)="onRemove(f)">
    <ngx-dropzone-label></ngx-dropzone-label>
  </ngx-dropzone-image-preview>
</ngx-dropzone><br/>
<div>
  <button style="margin-left: 200px; margin-bottom: 20px;" (click)="onUpload()">Upload</button>
</div>
</div>