<app-navbar></app-navbar>
<!-- <div class="container mt-5">
<div class="row"> -->
<!-- <div class="col-5">
          
<mdb-card cascade="true" wider="true" >
<div><img src={{passenger.imageUrl}} style="height: 15em; width: auto;"/>
<ngx-dropzone (change)="onFileSelected($event)" style="height: 10em; width:15em">
  <ngx-dropzone-label>Update your photo</ngx-dropzone-label>
  <ngx-dropzone-preview *ngIf="file" [removable]="true" (removed)="onRemove()" >
      <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
  </ngx-dropzone-preview>
</ngx-dropzone></div>
<button (click)="onUpload()">Upload</button>
  <div class="view view-cascade gradient-card-header blue-gradient">
    <div class="white-text ml-4">
    <h2 class="card-header-title text-uppercase">{{passenger.firstName}} {{passenger.lastName}}</h2>
    
  </div>
  </div>
  <mdb-card-body cascade="true">
    <mdb-card-text class="indigo-text">
      <p class="lead font-weight-bold">Email address: {{passenger.email}}</p>
    <p class="lead font-weight-bold">Phone number: {{passenger.phoneNumber}}</p>
    <p class="lead font-weight-bold">Address: {{passenger.address}}</p>
    </mdb-card-text>
    <a routerLink='/home' class="indigo-text d-flex flex-row-reverse">
      <h5 class="waves-effect" mdbWavesEffect>Check our rides
        <mdb-icon fas icon="chevron-right"></mdb-icon>
      </h5>
    </a>
</mdb-card-body>
</mdb-card>
</div> -->

<!-- <div class="col-6" *ngIf="rides">
  <table mdbTable>
    <thead class="black white-text">
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let ride of rides" style="color: white; height: 5em;">
        <td scope="row">{{ride.departure}}</td>
        <td>{{ride.destination}}</td>
        <td>{{ride.date}}</td>
        <td>{{ride.time}}</td>
        <td >
          <span *ngIf="ride.Date - now < 0 && now - ride.Date < 24">On the way..</span>
          <span *ngIf="ride.checkedStatus === false && ride.Date - now > 0">Coming..</span>
          <span *ngIf="ride.checkedStatus === true && ride.Date - now > 0">Ready to go!</span>
          <button  type="button" mdbBtn color="info" size="sm"  mdbWavesEffect (click)="frame.show()" *ngIf="ride.checkedStatus === true && now - ride.Date > 24" >Feedback</button>
        </td>
        <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel">
             <form (ngSubmit)="onSubmit(f,ride.id,ride.driverId)" #f="ngForm">
          <div class="col-2"> <img src="https://i.imgur.com/xELPaag.jpg" width="70" class="rounded-circle mt-2"> </div>
          <div class="col-4 bg-white mt">
              <div class="comment-box ml-2">
                  <h4>Add a comment for :</h4>
                  <h3>{{ride.Driver.firstName}}</h3>
                  <div class="rating" > <input type="radio" name="rating5" value="5" id="5" ngModel><label for="5">☆</label> <input type="radio" name="rating4" value="4" id="4" ngModel><label for="4">☆</label> <input type="radio" name="rating3" value="3" id="3" ngModel><label for="3">☆</label> <input type="radio" name="rating2" value="2" id="2" ngModel><label for="2">☆</label> <input type="radio" name="rating1" value="1" id="1" ngModel><label for="1" >☆</label> </div>
                  <div class="comment-area"> <textarea name="comment" class="form-control" placeholder="what is your view?" rows="4" ngModel></textarea> </div>
                  <div class="comment-btns mt-2">
                      <div class="row">
                          <div class="col-6">
                              <div class="pull-right"> <button class="btn btn-success send btn-sm">Send <i class="fa fa-long-arrow-right ml-1"></i></button> </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </form>
        </div>
      </tr>
    </tbody>
  </table>
</div> -->
<!-- </div>
</div> -->

<div class="container mt-5">
  <div class="main-body">
        <div class="row gutters-sm">
          <div class="col-md-5 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <div class="col-xl-8 d-flex flex-column align-items-center">
                    <img src={{passenger.imageUrl}} class="z-depth-1 rounded-circle"
                      alt="Responsive image" height="250" width="250">
                  </div>
                  
                  <i type="button" class="waves-light" data-toggle="modal" data-target="file"
          (click)="frame.show()" mdbWavesEffect><mdb-icon fas icon="camera" style="color:goldenrod"></mdb-icon></i>

          <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Choose a photo</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <ngx-dropzone (change)="onFileSelected($event)" style="height: 10em; width:15em">
          <ngx-dropzone-label>Update your photo</ngx-dropzone-label>
          <ngx-dropzone-preview *ngIf="file" [removable]="true" (removed)="onRemove()" >
              <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a mdbBtn color="indigo" outline="true" class="waves-effect" (click)="onUpload();
          frame.hide()"
          mdbWavesEffect>Upload</a>
        <a type="button" mdbBtn color="indigo" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">Cancel</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
                  <div class="mt-3">
                   <h4 class="text-uppercase font-weight-bolder indigo-text">{{passenger.firstName}} {{passenger.lastName}}</h4>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0">Email address: {{passenger.email}}</h6>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0">Phone number: {{passenger.phoneNumber}}</h6>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0">Address: {{passenger.address}}</h6>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <a routerLink='/home' class="indigo-text d-flex flex-row-reverse">
                    <h5 class="waves-effect" mdbWavesEffect>Check our rides
                      <mdb-icon fas icon="chevron-right"></mdb-icon>
                    </h5>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-7 mb-3 mt-5">
              <div class="col-7" *ngIf="rides">
                <table mdbTable style="width:600px">
                  <thead class="black white-text">
                    <tr>
                      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr mdbTableCol *ngFor="let ride of rides" style="height: 5em;">
                      <td scope="row">{{ride.departure}}</td>
                      <td>{{ride.destination}}</td>
                      <td>{{ride.date}}</td>
                      <td>{{ride.time}}</td>
                      <td >
                        <span *ngIf="ride.Date - now < 0 && now - ride.Date < 24">On the way..</span>
                        <span *ngIf="ride.checkedStatus === false && ride.Date - now > 0">Coming..</span>
                        <span *ngIf="ride.checkedStatus === true && ride.Date - now > 0">Ready to go!</span>
                        <button  type="button" mdbBtn color="info" size="sm"  mdbWavesEffect (click)="frame.show()" *ngIf="ride.checkedStatus === true && now - ride.Date > 24" >Feedback</button>
                      </td>

                      <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <div class="col-xl-8 d-flex flex-column align-items-center">
          <img src={{ride.Driver.imageUrl}} class="z-depth-1 rounded-circle"
            alt="Responsive image" height="250" width="250">
        </div>
      </div>

      <!--Body-->
      <form (ngSubmit)="onSubmit(f,ride.id,ride.driverId)" #f="ngForm">
      <div class="modal-body">

        <h4>Add a comment for: {{ride.Driver.firstName}}</h4>
                                
        <div class="rating" > <input type="radio" name="rating5" value="5" id="5" ngModel><label for="5">☆</label> <input type="radio" name="rating4" value="4" id="4" ngModel><label for="4">☆</label> <input type="radio" name="rating3" value="3" id="3" ngModel><label for="3">☆</label> <input type="radio" name="rating2" value="2" id="2" ngModel><label for="2">☆</label> <input type="radio" name="rating1" value="1" id="1" ngModel><label for="1" >☆</label> </div>
        <div class="comment-area"> <textarea name="comment" class="form-control" placeholder="what is your view?" rows="4" ngModel></textarea> </div>
                                
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button mdbBtn color="indigo" outline="true" class="waves-effect" type="submit"
          mdbWavesEffect (click)="frame.hide()">Yes</button>
        <a type="button" mdbBtn color="indigo" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">No</a>
      </div>
    </form>
    </div>
    <!--/.Content-->
  </div>
</div>


                      <!--  -->
                      <!-- <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
                      aria-labelledby="myModalLabel">
                           <form (ngSubmit)="onSubmit(f,ride.id,ride.driverId)" #f="ngForm">
                        <div class="col-2"> <img src="https://i.imgur.com/xELPaag.jpg" width="70" class="rounded-circle mt-2"> </div>
                        <div class="col-4 bg-white mt">
                            <div class="comment-box ml-2">
                                <h4>Add a comment for :</h4>
                                <h3>{{ride.Driver.firstName}}</h3>
                                <div class="rating" > <input type="radio" name="rating5" value="5" id="5" ngModel><label for="5">☆</label> <input type="radio" name="rating4" value="4" id="4" ngModel><label for="4">☆</label> <input type="radio" name="rating3" value="3" id="3" ngModel><label for="3">☆</label> <input type="radio" name="rating2" value="2" id="2" ngModel><label for="2">☆</label> <input type="radio" name="rating1" value="1" id="1" ngModel><label for="1" >☆</label> </div>
                                <div class="comment-area"> <textarea name="comment" class="form-control" placeholder="what is your view?" rows="4" ngModel></textarea> </div>
                                <div class="comment-btns mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="pull-right"> <button class="btn btn-success send btn-sm">Send <i class="fa fa-long-arrow-right ml-1"></i></button> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </form>
                      </div> -->
                    </tr>
                  </tbody>
                </table>
              </div>

             <div class="container mt-5" *ngIf="feedBack">
  <div class="d-flex justify-content-center row">
      <div class="col-md-6">
          <div class="p-3 bg-white rounded">
              <div class="review mt-4" *ngFor="let feed of feedBack">
                  <div class="d-flex flex-row comment-user"><img class="rounded" src={{feed.Driver.imageUrl}} width="40">
                      <div class="ml-2">
                          <div class="d-flex flex-row align-items-center"><span class="name font-weight-bold">{{feed.Driver.firstName}} {{feed.Driver.lastName}}</span><span class="dot"></span><span class="date">{{feed.createdAt }}</span></div>
                          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                      </div>
                  </div>
                  <div class="mt-2">
                      <p class="comment-text">{{feed.message}}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> 

</div>
</div>
</div>
</div>   