


  <table Table>
    <thead>
      <tr>
        <th> Name of Driver </th>  
        <th> Ride </th>
        <th> Departure </th>
        <th> Destination </th>
        <th> Time </th>
        <th> Date </th>
        <th> Price </th>
        <th> Seats </th>
        <th> Reservation </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ride of rides">
        <td (click)="viewProfile()">{{ride.Driver.firstName}} {{ride.Driver.lastName}}</td>
        <td><span id ="1" class="fa fa-star checked"></span>
          <span id="2" class="fa fa-star checked"></span>
          <span id="3" class="fa fa-star checked"></span>
          <span id="4" class="fa fa-star"></span>
          <span id="5" class="fa fa-star"></span>
        </td>  
        <td>{{ride.departure}}</td>
        <td>{{ride.destination}}</td>
        <td>{{ride.time}}</td>
        <td>{{ride.date}}</td>
        <td>{{ride.price}}</td>
        <td>{{ride.seats}}</td>
        <td>
          <button type="button" mdbBtn color="warning" class="waves-light" data-toggle="modal" data-target="rides"
          (click)="frame.show()" mdbWavesEffect> Reserve </button>

          <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a mdbBtn color="warning" outline="true" class="waves-effect" (click)="reserve(ride.id)"
          mdbWavesEffect>Yes</a>
        <a type="button" mdbBtn color="warning" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
        </td>
      </tr>
    </tbody>
  </table>


  

  


 



