  
  <div class="limiter" *ngIf="rides && rides.length">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100 ver1 m-b-110">
          <div class="table100-head">
            <table>
              <thead>
                <tr class="row100 head">
                  <th class="cell100 column1"> Driver </th>
                  <th class="cell100 column2"> Departure </th>
                  <th class="cell100 column3"> Destination </th>
                  <th class="cell100 column4"> Time </th>
                  <th class="cell100 column5"> Date </th>
                  <th class="cell100 column6"> Price </th>
                  <th class="cell100 column7"> Seats </th>
                  <th class="cell100 column8"> Reservation </th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="table100-body js-pscroll">
            <table>
              <tbody>
                <!-- <tr class="row100 body"> -->
                <tr *ngFor="let ride of rides" class="row100 body">
                  <td class="cell100 column1">

                    <ng-template #hoverImgTemp style="height:200px; width:200px">
                      <div>
                        <img src={{ride.Driver.imageUrl}} height="150px" width="150px">
                        <p class="indigo-text h6 text-uppercase ml-4">
                          <mdb-icon fas icon="car"></mdb-icon>{{ride.Driver.Car.model}}
                        </p>
                      </div>
                    </ng-template>
          
          
                    <a target="_blank" routerLink="detail/{{ride.Driver.id}}" placement="right" [mdbPopover]="hoverImgTemp" 
                    mdbWavesEffect triggers="hover" class="text-uppercase font-weight-bolder indigo-text">
                    {{ride.Driver.firstName}} {{ride.Driver.lastName}}</a>
                    <div>
                      <i *ngFor="let i of [1,2,3,4,5]">
                      <mdb-icon fas icon="star" [ngClass]="{'checked': ride.Driver.rating >= i}"></mdb-icon>
                      </i>
                    </div>
                    
                  </td>
                  <td class="cell100 column2">{{ride.departure}}</td>
                  <td class="cell100 column3">{{ride.destination}}</td>
                  <td class="cell100 column4">{{ride.time}}</td>
                  <td class="cell100 column5">{{ride.date}}</td>
                  <td class="cell100 column6">{{ride.price}} TD</td>
                  <td class="cell100 column7">{{ride.seats}}</td>
                  <td class="cell100 column8">
                    <button type="button" mdbBtn color="info" class="waves-light" data-toggle="modal" data-target="rides"
                    (click)="frame.show()" mdbWavesEffect> Reserve </button>
          
                    <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-notify modal-info" role="document">
                      <!--Content-->
                      <div class="modal-content text-center">
                        <!--Header-->
                        <div class="modal-header d-flex justify-content-center">
                          <p class="heading">Are you sure?</p>
                        </div>
                  
                        <!--Body-->
                        <div class="modal-body">
                          <mdb-icon fas icon="check" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
                        </div>
                  
                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                          <a mdbBtn color="info" outline="true" class="waves-effect" (click)="reserve(ride.id)"
                            mdbWavesEffect>Yes</a>
                          <a type="button" mdbBtn color="info" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">No</a>
                        </div>
                      </div>
                      <!--/.Content-->
                    </div>
                  </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  
</div>
</div>
</div>