.back {
  position: relative;
  width: 100%;
  height: 400px;
  background: #3f729b !important;
}

.back:after{
position: absolute;
width: 100%;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
content: "";
background: inherit;
transform-origin: top left;
transform : skewY(4deg);


}
