<!-- <div style="background-image: url('https://images.creativemarket.com/0.1.0/ps/6490630/1821/1215/m1/fpnw/wm0/glowing-neon-side-view-concept-car-prev-01-.jpg?1559663192&s=a779ed0266752162dde78fbabeef117f'); background-repeat: no-repeat; background-size: cover; height: 100vh;width:100vw">
 
  <div class="buttons">
    
    <button style="margin-top: 656px; margin-left:610px">Click to Login</button>
  </div> -->
 
  <!-- <h1>
    Why use Fi-Thneyti?</h1><br/><br/> <br/><br/>
    <p style="text-align: justify; font-size:large; margin-top:-15%; font-weight:2px"><br/>
      It's a fast, user-friendly and affordable way to get around.<br/><br/>
      Ridesharing already existed, but offers a whole new way to share your trips and travel costs.<br/><br/>
      An economical alternative to traditional carpooling services, Fi-Thneyti allows you to carpool with people who are already going in the same direction as you.<br/><br/>
      Are you a driver? Submit the free spaces for your car on Fi-Thneyti app.<br/><br/>
      Are you a passenger? Use Fi-Thneyti Carpool app to find drivers on your route.
    </p> -->
   
  <!-- <body>
  
    <div style="margin-top:-310px;" class="sign">
      <span  class="fast-flicker">Car</span>pool<span class="flicker">ling</span></div>
      
  </body>
  <div>
    <h1 style="margin-top:-520px; font-size: 25px; margin-left: 10px;" class="text"></h1>
 </div>

</div> -->
<div class="back"></div>