

  <!--Passenger-->
<!-- Default form register -->
<form  class="text-center border border-light p-5" [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">

  <p class="h4 mb-4">Sign up</p>

  <div class="form-row mb-4">
    <div class="input-group mb-3">
              
      <label class="input-group-text">User Type</label>
      <select class="form-select" formControlName="type">
        <option value="driver">
          Driver
        </option>
        <option value="passenger">
          Passenger
        </option>
      </select>
</div>  
    <div class="col" >
      <!-- First name -->
      <input type="text"  class="form-control" placeholder="First name" formControlName="firstName">
    </div>
    <div class="col">
      <!-- Last name -->
      <input type="text"  class="form-control" placeholder="Last name" formControlName="lastName">
    </div>
  </div>

  <!-- E-mail -->
  <div>
  <input type="email"  class="form-control mb-4" mdbInput mdbValidate
  [formControl]="email" placeholder="E-mail" formControlName="email">
  <mdb-error
              *ngIf="email.invalid && (email.dirty || email.touched)">
      
            </mdb-error>
            <mdb-success
              *ngIf="email.invalid && (email.dirty || email.touched)">
            </mdb-success>
</div>
  <!-- Password -->
  <div>
  <input type="password"  class="form-control" mdbInput mdbValidate
  [formControl]="password" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="password">
  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
    <mdb-error
    *ngIf="password.invalid && (password.dirty || password.touched)">

  </mdb-error>
  <mdb-success
    *ngIf="password.invalid && (password.dirty || password.touched)">
  </mdb-success>
    At least 6 characters and 1 digit
  </small>
   </div>
   <!-- reconfirm Password -->
   <input (change)="checkPassword($event)" type="password"  class="form-control" placeholder=" Confirm your password" aria-describedby="defaultRegisterFormPasswordHelpBlock" formControlName="confirmPassword">
   <small  class="form-text text-muted mb-4">
    {{checkedPassword}}
   </small>

   <!-- address -->
  <input type="text" class="form-control" placeholder="Address" aria-describedby="defaultRegisterFormPhoneHelpBlock" formControlName="address">
  <small class="form-text text-muted mb-4">
    
  </small>
  <!-- Phone number -->
  <input type="number"  class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock" formControlName="phoneNumber">
  <small  class="form-text text-muted mb-4">
  </small>

    <!-- ID card of passenger and driver -->
    <input type="number"  class="form-control" placeholder="ID Card Number" aria-describedby="defaultRegisterFormPhoneHelpBlock" formControlName="idCard">
    <small  class="form-text text-muted mb-4">
      

    </small>

    <!--****************************************************************************************************************************-->
    <!--added information for the driver-->


        <!-- Licence driver -->
        <input  *ngIf="signupForm.value.type==='driver'" type="number"  class="form-control" placeholder="Driver Licence number"  formControlName="driverLicense">
        <small  class="form-text text-muted mb-4">
          
        </small>
     
  <!-- Sign up button -->
  <br/><br/>
  <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign Up</button>
</form>