

<div class="wrapper animated bounce">
  <h1>Sign Up</h1>
  <hr>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
    
<div id="b" class="input-group mb-3 ">
  <select class="form-select" formControlName="type" style="background :bisque">
    <option value="driver">
      Driver
    </option>
    <option value="passenger">Passenger</option>
      
  
  </select>
</div>  <br/>
<label id="icon" for="username"><i class="fa fa-user"></i></label>
    <input type="text" placeholder="FirstName" id="username" formControlName="firstName"> <br/> 
<label id="icon" for="username"><i class="fa fa-user"></i></label>
    <input type="text" placeholder="LastName" id="username" formControlName="lastName"> <br/> 
    <label id="icon" for="username"><i class="fas fa-envelope-open"></i></label>
    <input type="email" placeholder="Email" id="username" formControlName="email"> <br/> 
    <label id="icon" for="password"><i class="fa fa-key"></i></label>
    <input type="password" placeholder="Password" id="password" formControlName="password"> <br/> 
    <label id="icon" for="password"><i class="fas fa-lock"></i></label>
    <input type="password" placeholder="Confirm Password" id="password" formControlName="confirmPassword"> <br/> 
    <label id="icon" for="password"><i class="fas fa-map-marker"></i></label>
    <input type="password" placeholder="Address" id="password" formControlName="address"> <br/> 
    <label id="icon" for="password"><i class="fas fa-phone-alt"></i></label>
    <input type="password" placeholder="Phone Number" id="password" formControlName="phoneNumber"> <br/> 
    <label id="icon" for="password"><i class="far fa-address-card"></i></label>
    <input type="password" placeholder="ID Card" id="password" formControlName="idCard"> <br/> 
    <label *ngIf="signupForm.value.type==='driver'" id="icon" for="password"><i class="fas fa-id-badge"></i></label>
    <input *ngIf="signupForm.value.type==='driver'" type="password" placeholder="Licence Number" id="password" formControlName="driverLicenceNumber"> <br/> 
    <input type="submit" value="Sign Up">
    <hr>
  </form>
</div>