
  <!--Passenger-->
<!-- Default form register -->
<form  class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign up</p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- First name -->
      <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <!-- Last name -->
      <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
    </div>
  </div>

  <!-- E-mail -->
  <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

  <!-- Password -->
  <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
    At least 6 characters and 1 digit
  </small>
   
   <!-- reconfirm Password -->
   <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder=" Confirm your password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
   <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
  
   </small>

   <!-- address -->
  <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Address" aria-describedby="defaultRegisterFormPhoneHelpBlock">
  <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
    
  </small>
  <!-- Phone number -->
  <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
  <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
  </small>

    <!-- ID card of passenger -->
    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="ID Card Number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
      
    </small>

    <!--****************************************************************************************************************************-->
    <!--added information for the driver-->
        <!-- ID card of driver -->
        <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="ID Card Number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
        <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
          
        </small>
         
        <!-- Licence driver -->
        <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Driver Licence number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
        <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
          
        </small>

  <!-- Sign up button -->
  <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign Up</button>



