
<body>
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                Welcome to our website
                we are RBK students, a coding school, and this website is a project associated with the RBK program.
                The main idea of it, is that if you are a driver you can post your infromation and you will be a member with us.
                
            </p>
            <div class="skills">
                <button>Contact Us</button>
            </div>
        </div>
        <div class="social">
            <a href="https://facebook.com/ondrej.p.barta" class="link facebook" target="_parent"><span class="fab fa-facebook-square"></span></a>
            <a href="https://twitter.com/PageOnlineXS" class="link twitter" target="_parent"><span class="fab fa-twitter"></span></a>
            <a href="https://plus.google.com/+OndřejBárta-Otaku" class="link google-plus" target="_parent"><span class="fab fa-google-plus-square"></span></a>
          </div>
    </div>
 
</body>

