
<body>
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                Welcome to our website
                we are RBK students, a coding school, and this website is a project associated with the RBK program.
                The main idea of it, is that if you are a driver you can post your infromation and you will be a member with us.
                
            </p>
            <div class="skills">
                <button>Contact Us</button>
            </div>
        </div>
    </div>
</body>

