
<body>
    <div class="about">
        <div class="inner-section">
            <h1>About Us</h1>
            <p class="text">
                Ridesharing already existed, but offers a whole new way to share your trips and travel costs.<br/>
                An economical alternative to traditional carpooling services, Carpool allows you to carpool with people who are already going in the same direction as you.
                Are you a driver? Submit the free spaces for your car on the Waze app.
                Are you a passenger? Use the Waze Carpool app to find drivers on your route.
                
            </p>
          <!-- <div class="skills">
                <button>Click here to rate our application</button>
            </div> -->
        </div>
        <div class="social">
            <a href="https://facebook.com/ondrej.p.barta" class="link facebook" target="_parent"><span class="fab fa-facebook-square"></span></a>
            <a href="https://twitter.com/PageOnlineXS" class="link twitter" target="_parent"><span class="fab fa-twitter"></span></a>
            <a href="https://plus.google.com/+OndřejBárta-Otaku" class="link google-plus" target="_parent"><span class="fab fa-google-plus-square"></span></a>
          </div>
    </div>

</body>

