<app-navbar></app-navbar>

<div class="container mt-4">
  <div class="main-body">
        <div class="row gutters-sm">
          <div class="col-md-5 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <div class="col-xl-8 d-flex flex-column align-items-center">
                    <img src={{driver.imageUrl}} class="z-depth-1 rounded-circle"
                      alt="Responsive image" height="250" width="250">
                  </div>
                  
                  <i type="button" class="waves-light" data-toggle="modal" data-target="file"
          (click)="frame.show()" mdbWavesEffect><mdb-icon fas icon="camera" style="color:goldenrod"></mdb-icon></i>

          <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Choose a photo</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <ngx-dropzone (change)="onFileSelected($event)" style="height: 10em; width:15em">
          <ngx-dropzone-label>Update your photo</ngx-dropzone-label>
          <ngx-dropzone-preview *ngIf="file" [removable]="true" (removed)="onRemove()" >
              <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a mdbBtn color="indigo" outline="true" class="waves-effect" (click)="onUpload();
          frame.hide()"
          mdbWavesEffect>Upload</a>
        <a type="button" mdbBtn color="indigo" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">Cancel</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
                  <div class="mt-3">
                   <h4 class="text-uppercase font-weight-bolder indigo-text">{{driver.firstName}} {{driver.lastName}}</h4>
                   <p class="text-secondary mb-1"><i *ngFor="let i of [1,2,3,4,5]">
                    <mdb-icon fas icon="star" [ngClass]="{'stars': driver.rating < i}"></mdb-icon>
                    </i></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{driver.email}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      {{driver.phoneNumber}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Address</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                      {{driver.address}}, Tunisia
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-7 mb-3">

             <div class="container" *ngIf="feedBack">
  <div class="d-flex justify-content-center row">
      <div class="col-md-10">
          <div class="p-3 bg-white rounded">
            <h4 class="font-weight-bolder indigo-text">Reviews [{{driver.timesRated}}]</h4>
              <div class="review mt-4" *ngFor="let feed of feedBack">
                  <div class="d-flex flex-row comment-user"><img class="rounded" src={{feed.Passenger.imageUrl}} width="40" height="40">
                      <div class="ml-2">
                          <div class="d-flex flex-row align-items-center"><span class="name font-weight-bold text-primary">{{feed.Passenger.firstName}} {{feed.Passenger.lastName}}</span><span><small> , passenger @ </small></span><span class="date">{{feed.createdAt }}</span></div>
                          <div >
                            <p class="comment-text">{{feed.message}}</p>
                        </div>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
</div> 


</div>
</div>
</div>      
  

