<app-navbar></app-navbar>
<div class="container">
            <div class="card card-profile shadow mt--300">
              <div class="px-4">
                
                <div class="text-center mt-5">
                  <h3>{{driver.firstName}}, {{driver.lastName}}
                    <span class="font-weight-light"></span>
                  </h3>
                  <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i><h3>{{driver.address}}, Tunisia</h3></div>
                  <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i><h2>Experimented driver</h2></div>
                  <div><i class="ni education_hat mr-2"></i> <h3>Phone Number: {{driver.phoneNumber}} </h3></div>
                  <h3><span class="font-weight-light">National card: {{driver.ICN}}</span></h3>
                </div>
                <div class="mt-5 py-5 border-top text-center">
                  <div class="row justify-content-center">
                    <div class="col-lg-9">
                      <a href="javascript:void(0)">Comments</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div><img id="img" src="{{driver.imageUrl}}" class="rounded-circle"></div>
          <ngx-dropzone (change)="onFileSelected($event)">
            <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
    <button (click)="onUpload()">Upload</button>
 
    <div class="container mt-5" *ngIf="feedBack">
      <div class="d-flex justify-content-center row">
          <div class="col-md-6">
              <div class="p-3 bg-white rounded">
                  <h6>Reviews[{{Driver.timesRated}}]</h6>
                  <div class="review mt-4" *ngFor="let feed of feedBack">
                      <div class="d-flex flex-row comment-user"><img class="rounded" src={{feed.Passenger.imageUrl}} width="40">
                          <div class="ml-2">
                              <div class="d-flex flex-row align-items-center"><span class="name font-weight-bold">{{feed.Passenger.firstName}} {{feed.Passenger.lastName}}</span><span class="dot"></span><span class="date">{{feed.createdAt }}</span></div>
                              <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> 