<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column  text-center">
                    <div class="align-items-center">
                    <img src={{passenger.imageUrl}} alt="Admin" class="rounded-circle" width="150" height="150">
                    <div class="mt-3">
                      <h4 class="indigo-text font-weight-bold">{{passenger.firstName | uppercase}} {{passenger.lastName | uppercase}}</h4>
                      <h6>Passenger</h6> <span *ngIf="passenger.ridesNumber === 1">One Ride</span> <span *ngIf="passenger.ridesNumber > 1">{{passenger.ridesNumber}} Rides</span>
                      <p class="text-muted font-size-sm">From {{passenger.address}}, Tunisia</p>
                      <!-- <button class="btn btn-primary">Feedback</button>
                      <button class="btn btn-outline-primary">Message</button> -->
                      </div>
                      <hr>
                  <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0 ">Phone</h6>
                    </div>
                    <div class="col-sm-6 indigo-text font-weight-bold">
                        {{passenger.phoneNumber}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-6 indigo-text font-weight-bold">
                      {{passenger.email}}
                    </div>
                  </div>
                  <hr>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <h4>Drivers Feedback</h4>
                  <hr>
                  <div class="row">
                    
             
     <div class="container mt-3" *ngIf="feedBack">
    <div class="d-flex justify-content-center row">
        <div class="col-md-6">
            <div class="p-3 bg-white rounded">
                
                <div class="review mt-4" *ngFor="let feed of feedBack">
                    <div class="d-flex flex-row comment-user"><img class="rounded" src="{{feed.Driver.imageUrl}}"  width="15%" height="15%">
                        <div class="ml-2">
                            <div class="d-flex flex-row align-items-center">
                              <span class="name font-weight-bold indigo-text">{{feed.Driver.firstName}} {{feed.Driver.lastName}} &nbsp;&nbsp;&nbsp;&nbsp;</span>
                              <span class="date text-right">{{feed.createdAt }}</span></div>
                              <p class="text-primary mb-1">
                                <small><span class="black-text" *ngIf="feed.Driver.ridesNumber === 1">One Ride</span>
                                <span class="black-text" *ngIf="feed.Driver.ridesNumber > 1">{{feed.Driver.ridesNumber}} Rides</span></small>
                                &nbsp;<i *ngFor="let i of [1,2,3,4,5]">
                                <mdb-icon size="sm" fas icon="star" [ngClass]="{'stars': feed.Driver.rating < i}"></mdb-icon>
                                </i></p>
                              <p class="comment-text">{{feed.message}}</p>
                            <div class="mt-2">
                        
                    </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>