<!-- 
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1" [containerInside]="false">

    <mdb-navbar-brand><a class="navbar-brand" href="#">Home</a></mdb-navbar-brand>
  

    <links>
  
 
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect>Rides<mdb-icon fas icon="car-side"></mdb-icon><span class="sr-only">(current)</span></a>
        </li>
      </ul>

  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
        </li>
        <li class="nav-item avatar dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0" style="height: 2em;">
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="goProfile()">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Log out</a>
          </div>
        </li>
      </ul>
    </links>

  
  </mdb-navbar> -->
<app-navbar></app-navbar>
  <div class="container" ngIf="carData">
    <div class="row justify-content-lg-center">
        <div class="col-md-6">
<form class="text-center border border-light p-5">
    <p class="h4 mb-4">Your car information :</p>
    <div   id="defaultContactFormName"  class="form-control mb-4" >Model : {{carData[0].model}}</div>
    <div class="form-control mb-4" > Type of fuel : {{carData[0].fuelType}} </div>
    <div class="form-control mb-4">car color : {{carData[0].color}}</div>
    <div class="form-control mb-4" >Kilometer traveled : {{carData[0].VKT}}</div>
    <div class="form-control mb-4">Vehicule identification number : {{carData[0].VIN}}</div>
    <div class="form-control mb-4">Capacity : {{carData[0].maxSeats}}</div>
  </form>
</div>
</div>
</div>
<!-- <app-car></app-car> -->

  
