
<app-navbar></app-navbar>

<div class=" container mt-5">
  <div class="row">
    <div class="col-3">
      <ng-select [items]="resultRides"
           bindLabel="departure"
           bindValue="departure"
           [(ngModel)]="selectedDeparture"
           placeholder="Departure"
           [loading]="ridesLoading">
      </ng-select>
    </div>
    <div class="col-3">
      <ng-select [items]="resultRides"
           bindLabel="destination"
           bindValue="destination"
           [(ngModel)]="selectedDestination"
           placeholder= "Destination"
           [loading]="ridesLoading">
      </ng-select>
    </div>
    <div class="col-3">
      <ng-select [items]="resultRides"
           bindLabel="date"
           bindValue="date"
           [(ngModel)]="selectedDate"
           placeholder= "Date"
           [loading]="ridesLoading">
      </ng-select>
    </div>
    <div class="col-auto">
      <button mdbBtn color="info" size="sm" (click)="check()">Check</button>
    </div>
  </div>
</div>


<div *ngIf = "results">
  <app-feed [rides]="results" [user]="user"></app-feed>
</div>


